body {
	margin: 0;
	padding: 0;
	background: url('https://source.unsplash.com/1600x900/?nature');
	background-size: fill;
	background-repeat: no-repeat;
}
h1 {
	margin-top: 0px;
}
#form {
	position: absolute;
	text-align: center;
	box-sizing: border-box;
	background: whitesmoke;
	width: 60%;
	max-width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 40px;
	border-radius: 8%;
}
.form-label {
	border: 1px solid gray;
	border-radius: 8px;
	margin: 8px 0;
	padding: 12px 18px;
}

.form-label > label {
	display: block;
	text-align: left;
}

.form-label > input {
	width: 100%;
	border: none;
	background-color: transparent;
	outline: none;
	margin-top: 8px;
}
