html {
	position: relative;
	min-height: 100%;
}
body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
	background: whitesmoke;
	scroll-behavior: smooth;
	padding-bottom: 60px;
}

.logo-text {
	font-family: Lobster;
}

.nav-link {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

#home {
	background: url('https://source.unsplash.com/1920x1080/?nature') no-repeat
		center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.my-nav {
	margin-bottom: 0;
}

.jumbotron {
	border-radius: 0%;
	background-color: #d1d6d0;
	margin-bottom: 0%;
}

.landing-text {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.landing-text h1 {
	font-size: 3.5em;
	font-weight: bold;
}

.landing-text h3 {
	color: whitesmoke;
}

footer {
	position: absolute;
	background-color: #777;
	bottom: 0;
	width: 100%;
	height: 60px;
	text-align: center;
	color: white;
}

footer > p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.fa-bootstrap,
.fa-coffe {
	color: black;
}

.search-input {
	border: none;
	border-radius: 25px;
	outline: none;
}

.generated-jumbotron {
	border-radius: 0%;
	margin-bottom: 0%;
	/*background-image: url('https://source.unsplash.com/1600x900/?nature');*/
	background-size: cover;
}

.generated-jumbotron > h1,
p {
	color: black;
}

.bg-1 {
	background-color: #1abc9c; /* Green */
	color: #ffffff;
	margin-bottom: 45px;
}
.bg-2 {
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
	margin-bottom: 45px;
}

.realimg > img {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
}

.col-sm-8 > p {
	font-size: 18px;
	font-weight: bold;
}

.howtext {
	text-align: center;
	font-size: 28px;
	font-weight: bolder;
}
.tech {
	margin-bottom: 2em;
}
.tech > h1 {
	text-align: center;
}

.code > h1 {
	text-align: center;
}

.aboutContent {
	margin: 100px 0px;
}

.carousel-image {
	height: -o-calc(100vh - 230px) !important;
	height: -webkit-calc(100vh - 230px) !important;
	height: -moz-calc(100vh - 230px) !important;
	height: calc(100vh - 230px) !important;
	width: 100% !important;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.carousel-item {
	text-align: center !important;
}
